<header>
  <nav class="navbar navbar-expand-lg">
    <div class="navbar-collapse collapse w-150 dual-collapse2 d-flex justify-content-between align-items-center">
      <div class="d-flex align-items-center gap-3">
        {{#if user}}
          <a class="nav-link" href="/home">
            <img src="../../images/Lift_track_logo_no_background.png" 
                 style="width:64px;height:64px; transition: transform 0.2s;"
                 class="hover-scale">
          </a>
        {{else}}
          <a class="nav-link" href="/login">
            <img src="../../images/Lift_track_logo_no_background.png" 
                 style="width:64px;height:64px; transition: transform 0.2s;"
                 class="hover-scale">
          </a>
        {{/if}}

        <a class="text-light" href="{{#if user}}/exercises{{else}}/login{{/if}}" id="nav_links">
          Exercises
        </a>

        <div class="dropdown position-relative">
          <button class="dropbtn nav-link text-white">My Fitness ▼</button>
          <div class="dropdown-content">
            {{#if user}}
              <a class="nav-link" href="/myplan">My Plan</a>
              <a class="nav-link" href="/tracking">Tracking/Analytics</a>
              <a class="nav-link" href="/myworkouts">My Workouts</a>
            {{else}}
              <a class="nav-link" href="/login">My Plan</a>
              <a class="nav-link" href="/login">Tracking/Analytics</a>
              <a class="nav-link" href="/login">My Workouts</a>
            {{/if}}
          </div>
        </div>
      </div>

      <div>
        <a href="/logout" class="me-4 btn btn-outline-light-green login-secondary-btn-green">Logout</a>
      </div>
    </div>
  </nav>
</header>