:root {
  --charcoal: #1c1c1e;
  --graphite: #2c2c2e;
  --steel: #3a3a3c;
  --steel-light: #5a5a5c;
  --light-green: #7bb274;
}

.bg-charcoal {
  background-color: var(--charcoal) !important;
}
.bg-steel {
  background-color: var(--steel) !important;
}
.bg-light-green {
  background-color: var(--light-green) !important;
}
.bg-light-green:hover {
  background-color: rgb(177, 235, 119) !important;
}
.btn-outline-light-green {
  border-color: var(--light-green) !important;
}
.btn-outline-light-green:hover {
  border-color: rgb(177, 235, 119) !important;
}
.login-secondary-btn-green {
  color: var(--light-green) !important;
}
.login-secondary-btn-green:hover {
  color: rgb(177, 235, 119) !important;
}
.form-control {
  background-color: var(--steel);
  border: 1px solid #666666;
  color: white;
  border: none;
}
.form-control:focus {
  background-color: var(--steel-light);
  border: 1px solid #666666;
  color: white;
  border: none;
}
.exercise_cards {
  background-color: var(--steel) !important;
  color: white;
}

body {
  background-color: var(--charcoal) !important;
  color: white;
}

.navbar {
  background-color: #333;
}
.navbar a {
  float: left;
  font-size: 16px;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
.dropbtn {
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(37, 37, 37, 0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #b9b9b9;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: #b9b9b9;
}

.register-form {
  min-height: 100vh;
}
