{{>message}}

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
      <form action="/register" method="post" class="border border-secondary rounded p-4">
        <h1 class="text-center mb-3">Lift Track Registration</h1>

        <div class="form-group">
          <label for="username">Username</label>
          <input class="form-control" id="username" name="username" value="{{username}}" required />
        </div>

        <br />

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" class="form-control" id="email" name="email" value="{{email}}" required />
        </div>

        <br />

        <div class="form-group">
          <label for="birthday">Birthday</label>
          <input type="date" class="form-control" id="birthday" name="birthday" value="{{birthday}}" required />
        </div>

        <br />

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" name="password" required />
        </div>

        <br />

        <div class="form-group mb-3">
          <label for="confirmPassword">Confirm Password</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" required />
        </div>

        <br />

        <button type="submit" class="btn w-100 bg-light-green">Register</button>

        <hr class="bg-graphite mt-4">

        <p class="mt-3 text-center">
            <p class="text-center">Already have an account?</p>
            <a href="/login" class="btn w-100 btn-outline-light-green login-secondary-btn-green">Log in</a>
        </p>
      </form>
    </div>
  </div>
</div>
